.inputs {
  background-color: white;
  height: max-content;
  padding: 25px;
  margin: 5px 5px 0px 0px;

  h4 {
    justify-content: center;
    color: #1976d2;
    text-align: left;
    padding-bottom: 15px;
    margin-top: 0px;
  }
}

.table {
  background-color: white;

  h5 {
    justify-content: center;
  }
}
